---
import Layout from '../layouts/Layout.astro';
import ResultSummary from '../components/ResultSummary.astro';
---

<Layout title="Result Summary Component">
	<main class="min-h-screen md:flex items-center justify-center">
		<ResultSummary />
	</main>
</Layout>


